body {
    font-family:'Poiret One', sans-serif;
    background: orange;
       color: black;
   }
   
  
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
   
.container {
    width: 300px;
    overflow: hidden;
    margin: 50px auto 0 auto;
}


.container span {
    width: 100%;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
    font-size: 2em;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    text-align: center;
    background: #808080;
    height: 100px;
    width: 100px;
    float: left;
    border: #000000 solid 1px;
    cursor: pointer;
}

.box:hover {
    background: #8b8b54;
}

.button-container {
    margin: 2% auto 0 auto;
    text-align: center;
}

button {
    background: black;
    color: #ffffff;
    font-weight: bold;
    border: #000000 solid 1px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    text-align: center;
}

.win {
    background-color: #59855f; 
    color:  #b8ffb1;
}

.win:hover {
    background-color: #2a522f; 
    color: #b8ffb1;
}

.loss { 
    color: transparent;
    background: transparent;
    border: none;
}

.loss:hover{
    color: transparent;
    background: transparent;
    border: none;
}

.tie {
    background-color: #59855f; 
    color:  #b8ffb1; 
}

.tie.hover {
    background-color: #59855f; 
    color: #b8ffb1;
}

.holdValues {
    pointer-events:none;  
}


  

 

   
