body {
    font-family:'Poiret One', sans-serif;
    background: brown;
       color: black;
   }
   
   button {
     width: 20%;
     height: 10%;
     line-height: 50px;
   }
   
   .cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    width: 100%;
    aspect-ratio: 1/1;
  }
    
  .cell:nth-of-type(even)
{
  background-color: white;
}

.cell:hover
{
  font-size: 2rem;

}
.cell.filled
{
  font-size: 20;
}
 

 .grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    width: 100%;
    aspect-ratio: 1/1;
  }
    
  .cell:nth-of-type(even)
{
  background-color: white;
}

.cell:hover
{
  font-size: 2rem;

}
.cell.filled
{
  font-size: 20;
}
 
  

 

   
